<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>FYP</title>

<link rel= "stylesheet" type= "text/css" href= {{url_for('static',filename='styles/w3.css')}}>

<link rel= "stylesheet" type= "text/css" href= {{url_for('static',filename='styles/w3-theme-black.css')}}>


</head>

<body id = "totop">

<!-- Start Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onClick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-black w3-hover-white"><i class="fa fa-home w3-margin-right"></i> HOME </a>
  <a href="#button1" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Button 1</a>
  <a href="#button2" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Button 2</a>
  <div class="w3-dropdown-hover w3-hide-small">
  <button class="w3-button w3-hover-white" title="Notifications">Drop bar 1<i class="fa fa-caret-down"></i></button> 
  <div class="w3-dropdown-content w3-card-4 w3-bar-block">
		<a href="#menu1" class="w3-bar-item w3-button w3-black w3-hover-white">Bar 1</a>
		<a href="#menu2" class="w3-bar-item w3-button w3-black w3-hover-white">Bar 2</a>
	</div>
	</div>
  <a href="#button3" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Button 3</a>
 </div>
</div>

<!-- End Navbar -->

<style>

body {font-family: "Poppins", sans-serif}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

label,input{
    display: inline-block;
    vertical-align: middle;
}


.center-justified {
  text-align: justify;
  margin: 0 auto;
  width: 850px;
}

.FClass {
    font: italic bold 12px/30px Georgia, serif;
	max-width:850px
}

.HFont {
    font: italic bold 20px arial, sans-serif;
	font-family: "Montserrat", sans-serif;
	color: rgb(250,95,11)
}
</style>

<!-- Start Script -->




<!-- Title -->
<center><big>
<br id="totop">
</big><div style="background-color:rgb(255, 174, 74);"><big>
<br>
<br>
<br>
<h1 style="font-size:55px;"><b>TITLE</b></h1>
<br>
<hr>
</big>
</div></center>
<!-- End Title-->

<!-- Start Border 1 -->

<center>
<h1 style="font-size:20px;"><b> Text1</b></h1> 
<hr style="width:165px;border:2px solid rgb(255, 174, 54)">
<div class="center-justified"> 

<form action="{{ url_for('predict') }}" method = "post">
<label for = "f1"> <input type="checkbox" name="model1" /> ann </label>
<label for = "f2"> <input type="checkbox" name="model2" /> anserini </label>
<label for = "f3"> <input type="checkbox" name="model3" /> rrf </label>
<label for = "f4"> <input type="checkbox" name="model4" /> bayesian </label>
<label for = "f5"> <input type="checkbox" name="model5" /> bert </label>
<label for = "f6"> <input type="checkbox" name="model6" /> bert-base </label>
<label for = "f7"> <input type="checkbox" name="model7" /> bm </label>

<br>

<label for = "f8"> <input type="checkbox" name="model8" /> baseline </label>
<label for = "f9"> <input type="checkbox" name="model9" /> borda </label>
<label for = "f10"> <input type="checkbox" name="model10" /> cal </label>
<label for = "f11"> <input type="checkbox" name="model11" /> classifier </label>
<label for = "f12"> <input type="checkbox" name="model12" /> dense </label>
<label for = "f13"> <input type="checkbox" name="model13" /> dfo </label>
<label for = "f14"> <input type="checkbox" name="model14" /> dfr </label>


<br>

<label for = "f15"> <input type="checkbox" name="model15" /> dirichlet </label>
<label for = "f16"> <input type="checkbox" name="model16" /> dph </label>
<label for = "f17"> <input type="checkbox" name="model17" /> electra </label>
<label for = "f18"> <input type="checkbox" name="model18" /> ensemble </label>
<label for = "f19"> <input type="checkbox" name="model19" /> f2exp </label>
<label for = "f20"> <input type="checkbox" name="model20" /> fusion </label>
<label for = "f21"> <input type="checkbox" name="model21" /> hybrid </label>

<br>

<label for = "f22"> <input type="checkbox" name="model22" /> idf </label>
<label for = "f23"> <input type="checkbox" name="model23" /> indri </label>
<label for = "f24"> <input type="checkbox" name="model24" /> interpolation </label>
<label for = "f25"> <input type="checkbox" name="model25" /> lambdamart </label>
<label for = "f26"> <input type="checkbox" name="model26" /> lambdarank </label>
<label for = "f27"> <input type="checkbox" name="model27" /> lda </label>
<label for = "f28"> <input type="checkbox" name="model28" /> learning-to-rank </label>

<br>

<label for = "f29"> <input type="checkbox" name="model29" /> lnu.ltu </label>
<label for = "f30"> <input type="checkbox" name="model30" /> lucene </label>
<label for = "f31"> <input type="checkbox" name="model31" /> networks </label>
<label for = "f32"> <input type="checkbox" name="model32" /> nogueira </label>
<label for = "f33"> <input type="checkbox" name="model33" /> non-stopwords </label>
<label for = "f34"> <input type="checkbox" name="model34" /> nonrel </label>
<label for = "f35"> <input type="checkbox" name="model35" /> normalization </label>

<br>

<label for = "f36"> <input type="checkbox" name="model36" /> pointwise </label>
<label for = "f37"> <input type="checkbox" name="model37" /> ponte </label>
<label for = "f38"> <input type="checkbox" name="model38" /> pool rank </label>
<label for = "f39"> <input type="checkbox" name="model39" /> prf </label>
<label for = "f40"> <input type="checkbox" name="model40" /> ranking </label>
<label for = "f41"> <input type="checkbox" name="model41" /> re-ranking </label>
<label for = "f42"> <input type="checkbox" name="model42" /> rrf.1 </label>

<br>

<label for = "f43"> <input type="checkbox" name="model43" /> scibert </label>
<label for = "f44"> <input type="checkbox" name="model44" /> scispacy </label>
<label for = "f45"> <input type="checkbox" name="model45" /> sofiaml </label>
<label for = "f46"> <input type="checkbox" name="model46" /> softmax </label>
<label for = "f47"> <input type="checkbox" name="model47" /> reciprocal-rank </label>
<label for = "f48"> <input type="checkbox" name="model48" /> regression </label>
<label for = "f49"> <input type="checkbox" name="model49" /> tf </label>

<br>

<label for = "f50"> <input type="checkbox" name="model50" /> tf-ranking </label>
<label for = "f51"> <input type="checkbox" name="model51" /> tf-idf </label>
<label for = "f52"> <input type="checkbox" name="model52" /> top-k </label>
<label for = "f53"> <input type="checkbox" name="model53" /> udel </label>
<label for = "f54"> <input type="checkbox" name="model54" /> vectors </label>
<label for = "f55"> <input type="checkbox" name="model55" /> weights </label>
<!--label for = "f56"> <input type="checkbox" name="model56" /> Score </label -->

<br> 
<p id="result">q</p>
<br>

<input type="submit" valu="submit">


</form>

<script>

document.getElementById("result").innerHTML = "{{result}}"

</script>

</center>

<!-- End Border 1 -->

<!-- Start Border 2 -->

<hr style="width:100%;border:7px solid rgb(255, 174, 74)">

<center>
<h1 style="font-size:20px;"><b>Performance</b></h1> 
<hr style="width:165px;border:2px solid rgb(255, 174, 54)">
<div class="center-justified"> 


<img src={{ url_for('static', filename='Performance_.png') }} class = "center">


<br> 
<br>

</center>

<!-- End Border 2 -->

<!-- Start Border 3 -->

<hr style="width:100%;border:7px solid rgb(255, 174, 74)">

<center>
<h1 style="font-size:20px;"><b>Weight Importance</b></h1> 
<hr style="width:165px;border:2px solid rgb(255, 174, 54)">
<div class="center-justified"> 


<img src={{ url_for('static', filename='weight_importance.png') }} class = "center">

<br>
<br>

</center>

<!-- End Border 3 -->

<!-- Start Border 4 -->

<hr style="width:100%;border:7px solid rgb(255, 174, 74)">

<center>
<h1 style="font-size:20px;"><b>ROC AUC</b></h1> 
<hr style="width:165px;border:2px solid rgb(255, 174, 54)">

<img src={{ url_for('static', filename='roc_auc_rf.png') }} class = "center">

<br>
<br>

</center>


<!-- End Border 4 -->

  <!-- Footer -->   
<style>
.footer {
    background-color: rgb(255, 174, 54);
    padding: 20px;
    text-align: center;
	}
</style>
<center>
<footer class="w3-container w3-orange" style="padding:32px">
	<a href="#totop" class="w3-button w3-black w3-padding-large w3-margin-bottom">Go back to top</a>
</footer>
</center>




</body></html>